body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #238db7;
    color: #e41313;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
}

section {
    padding: 2em 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
}

footer {
    background-color: #333;
    color: #90cd26;
    padding: 1em 0;
    text-align: center;
}
